</div>
</section>
<section id="contact">
      <footer class="footer">
          <p class="links">
            <a href="https://www.linkedin.com/in/vrishabh-jasani-066538190/"><i class="foot fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/vvrishabhh/"><i class="foot fab fa-instagram"></i></a>
            <a href="https://github.com/Vrishabhsk"><i class="foot fab fa-github"></i></a>
            <a href="https://web.facebook.com/VrishabhJasani/"><i class="foot fab fa-facebook-square"></i></a>
          </p>
          <p class="c">&copy; Copyright Blogger's Paradise</p>
      </footer>
</section>
</body>
</html>
