<%- include("partials/header") %>
<br>
<div class="prov-gap container-fluid blog">
    <h2><%= content.blogTitle %></h2><br>
    <p><%= content.blogContent %> </p>
</div><br>
<%- include("partials/footer") -%> 